html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-color: lightblue;*/
    background-color: #cff4ff;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2, h3 {
    text-align: center;
}

/*autocomplete*/
.ui-autocomplete-panel .ui-autocomplete-table th, .ui-autocomplete-panel .ui-autocomplete-table td {
    border-style: none !important;
    padding: 0 !important;
}

.autocomplete-dropdown .ui-state-highlight img {
    height: 100px !important;
}

/* navbar.xhtml
---------------------------------------------------------------------------------------------------------*/
#navbar {
    height: 50px;
    background-color: white;
    display: flex; /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 20pt;
    font-weight: bold;
    text-decoration: dotted;
}

#nav-right {
    display: flex;
    list-style: none;
}

#nav-right li {
    padding: 0 8px;
    border-right: 2px solid black;
}

#nav-right li:first-child {
    margin-left: 10px;
}

#nav-right li:last-child {
    margin: 0;
    border-width: 0;
}


#navbar a {
    text-decoration: none;
    padding: 26px 15px;
    font-size: 18px;
    color: slategray;
}

#navbar a:hover {
    color: lightblue;
}

/* index.xhtml
---------------------------------------------------------------------------------------------------------*/
#feed-container {
    display: flex;
}

#sidebar-search {
    border-right: 2px solid slategray;
    padding: 10px;
    width: 200px;
}

#sidebar-search .search-header {
    margin-block-end: 0.5em;
}

#content-feed {
    padding: 10px;
    width: 90%;
}

.post {
    border: 2px solid grey;
    background-color: white;
    padding: 0;
    margin: 5px 0;
}

.post-content {
    padding: 10px;
}

.post-content .media-title-container {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.post-content .media-title-container .media-title {
    font-size: 2em;
}

.post-content .media-title-container .rating {
    margin-left: 10px;
}

.post-content .username {
    margin-right: 2px;
}

.post-content .caption {
    color: dimgrey;
    font-style: italic;
}

.post-content .tag-list {
    margin-top: 5px;
    display: flex;
}

.post-content .tag {
    background-color: lightblue;
    margin-right: 10px;
    padding: 3px;
    border-radius: 2px;
}

.post-footer {
    display: flex;
    border-top: 2px solid grey;
    padding: 5px 10px;
}

.post-footer .like-counter {
    font-weight: 600;
}

.post-footer .post-interact {
    color: dodgerblue;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
/* end index.xhtml */

/* debug.xhtml
---------------------------------------------------------------------------------------------------------*/
#test {
    color: blue;
    border-style: dashed;
}

.errorMsg {
    color: red;
}


/* profile.xhtml
---------------------------------------------------------------------------------------------------------*/
#profile-content {
    background-color: white;
    max-width: 600px;
    min-width: 400px;
    margin: 30px auto auto;
    padding: 20px;
}

.user-info {
    font-family: "Helvetica", sans-serif;
    margin-left: 14px;
}

.user-info-label {
    font-family: "Tahoma", sans-serif;
    line-height: 200%;
    font-weight: bold;
    font-size: 18px;
    color: #45cbf5;
}