body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: lightblue;
}

/* feed.xhtml */
#navbar {
    height: 50px;
    background-color: white;
    display: flex; /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo {
    font-size: 20pt;
    font-weight: bold;
}

#nav-right {
    display: flex;
    list-style: none;
}

#nav-right li {
    padding: 0 8px;
    border-right: 2px solid black;
}

#nav-right li:last-child {
    margin: 0;
    border-width: 0;
}


#feed-container {
    display: flex;
}

#sidebar-search {
    border-right: 2px solid slategray;
    padding: 10px;
    width: 200px;
}

#content-feed {
    padding: 10px;
    width: 80%;
}

.post {
    border: 2px solid grey;
    background-color: lightgoldenrodyellow;
    padding: 5px;
    margin: 5px 0;
}

.post-content .media-title-container {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.post-content .media-title-container .media-title {
    font-size: 2em;
}

.post-content .media-title-container .rating {
    margin-left: 10px;
}

.post-content .username {
    margin-right: 2px;
}

.post-content .caption {
    color: dimgrey;
    font-style: italic;
}

.post-content .tag-list {
    margin-top: 5px;
    display: flex;
}

.post-content .tag {
    background-color: lightblue;
    margin-right: 10px;
    padding: 3px;
    border-radius: 2px;
}

.post-footer {
    display: flex;
}

.post-footer .post-interact {
    color: dodgerblue;
}
/* end feed.xhtml */


/* index.xhtml */
#test {
    color: blue;
    border-style: dashed;
}

.errorMsg {
    color: red;
}

/* end index.xhtml */

h2, h3 {
    text-align: center;
}